<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<p th:text="${person.getName()} + ', ' + ${person.getYearOfBirthday()}">VALUE</p>
<br/>

<div th:if="${personBooks.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<div th:if="${!personBooks.isEmpty()}">
    <p>Книги:</p>
    <br/>
    <table th:each="book : ${personBooks}">
        <tr>
            <td>
                <span th:text="${book.getTitle() + ', ' + book.getAuthor()  + ', ' + book.getYear()}"
                      th:style="${book.isExpired()} ? 'color: red' : 'color: black'">
                    book
                </span>
            </td>
        </tr>
    </table>
    <hr/>
</div>

<form th:method="GET" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Edit">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>