<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<p th:text="${person.getName()} + ', ' + ${person.getYearOfBirthday()}">VALUE</p>
<br/>

<div th:if="${personBooks.isEmpty() == true}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<div th:if="${personBooks.isEmpty() == false}">
    <p>Книги:</p>
    <div th:each="book : ${personBooks}">
        <a th:text="${book.getTitle() + ', ' + book.getAuthor()  + ', ' + book.getYear()}">book</a>
    </div>

    <br/>
    <hr/>
</div>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>